* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    color: #ffffff;
    line-height: 1.3;
}

/* heading and paragraphs weight */

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

.container-content h2, h3 {
    font-weight: 500;
}

p {
    font-weight: 300;
}

/* header starts */
.container{
    max-width: 100%;
    height: 75vh;
    position: relative;
    background: rgba(0, 0, 0, 0.7) url('assets/hero_page.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    background-blend-mode: overlay;
}

.border {
    border-bottom: 8px solid #222;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    margin-top: 20px;
    margin-left: 50px;
}

.btn{
    margin-right: 70px;
    padding: 8px 15px;
    align-items: center;
    color: #ffffff;
    background-color: #e20712;
    border: none;
    border-radius: 5px;
     }

.container-content {
    position: absolute;
    max-width: 655px;
    margin-top: 180px;
    margin-left: 600px;
    text-align: center;
    align-items: center;
}

.container-content h1 {
    font-size: 50px;
}

.container-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.email {
    width: 100%;
    background-color: #ffffff;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}
.email input {
    padding: 20px 15px;
    outline: none;
    border: none;
    font-size: 18px;
}

.email .btn-1{
    background-color: #e20712;
    color:#ffffff;
    text-decoration: none;
    padding: 20px 30px;
    border: none;
    font-size: 18px;
}

/* header ends */

/* first section starts */
.media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 250px;
    padding: 30px 20px;
}

.media-content h2,
.download-content h2,
.watch-content h2,
.kiddies-content h2,
.faq h2{
    font-size: 45px;
}
.media-content p,
.download-content p,
.watch-content p,
.kiddies-content p {
    font-size: 28px;
}

.media-screen {
    position: relative;
}

.media-screen video {
    width: 280px;
    position: absolute;
    top: 64px;
    left: 60px;
}
/* first section ends */

/* second section starts */

.mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 120px;
    padding: 20px 10px;
}

.download .download-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 2px solid #888;
    border-radius: 15px;
    bottom: 90px;
    left: 120px;
    position: relative;
    width: 260px;
    background-color: #000000;
}

.download-1 p {
    font-size: 15px;
}

.download-1 .image-1 {
    margin-left: 10px;
}

.download-1 .image-2 {
    margin-right: 10px;
}

.download-1 span a {
    text-decoration: none;
}

/* second section ends */

/* third section starts */
.watch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 200px;
    padding: 30px 0;
}

.kiddies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 100px;
    padding: 30px 0;
}

.kiddies img {
    width: 400px;
}
/* third section ends */

/* fourth section starts */
.faq {
    margin: 60px;
    padding: 5px 0;
    justify-content: center;
}

.faq h2{
    text-align: center;
}

.faq-content {
    max-width: 635px;
    margin: 0 auto;
    
}
.questions svg {
    width: 30px;
    height: 30px;
    right: 30px;
    top: 20px;
    position: absolute;
    transition: all 0.2s ease;
    transform: rotate(45deg);
}
.questions {
    position: relative;
    background-color: #303030;
}

.questions .question{
    display: block;
    align-items: center;
    text-align: center;
    padding: 20px 30px;
    border-bottom: 5px solid #000;
    cursor: pointer;
}

.question h3 {
    text-align: left;
}

.questions .answer {
    padding: 0px 30px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
}

.questions input[type="checkbox"] {
    display: none;
}

.questions input[type="checkbox"]:checked ~ .answer {
    padding: 30px 30px;
    max-height: 600px;
}

.questions input[type="checkbox"]:checkbox ~ svg{
    transform: rotate(90deg);
}

.answer p {
    font-size: 20px;
    padding: 0 30px;
}

.answer h3 {
    font-size: 30px;
}
form {
    max-width: 635px;
}

form{
    max-width: 635px;
    margin: 0 auto;
}

.newsletter p {
    margin-top: 40px;
    text-align: center;
}

.faq-news {
    width: 100%; 
    background-color: #ffffff;
    display: inline-flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 15px;
}
.faq-news input {
    padding: 15px 10px;
    outline: none;
    border: none;
    font-size: 18px;
}

.faq-news .btn-1{
    background-color: #e20712;
    color:#ffffff;
    padding: 30px 40px;
    border: none;
    font-size: 18px;
}

/* fourth section ends */
.info {
    margin: 60px;
}
.info a{
    padding: 5px;
    color: #555353fa;
    text-decoration: none;
}

.info-content h4 {
    text-align: left;
    padding: 5px;
    color: #555353fa;
}

table {
    width: 100%;
}

td, th{
    text-align: left;
    padding: 10px;
    font-size: 12px;
}

a:hover{
    text-decoration: underline;
}